@font-face {
    font-family: 'k-font';
    src: url("../font/GN-Koharuiro_Sunray.woff") format("woff");
}
*{
    margin: 0%;
    padding: 0%;

}
.header{
    display: flex;
    background-color: aquamarine;
    padding: 10px 0 10px 0;
}
.menu{
    display: flex;
    position: absolute;
    right: 50px;
}
.title{
    margin-left: 10px;
    font-size: 20px;
    & a:hover{
        color: black;
        text-decoration: none;
    }
}
.top,.date,.rank,.hikaku,.mypage,.logout{
    margin: 0 10px 0 10px;
    & a{
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    & :hover{
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }
}
.top{
    
}
.date{
    
}
.rank{
    
}
.hikaku{
    
}
.mypage{
    
}
.logout{
    
}